openapi: 3.0.1

info:
  title: Telenote API
  description: |-
    How to use the API?
    1) Register in Telegram and register the bot
    2) Register in the Telenote service
    3) Create a project in your personal account in the Telenote service
    4) Now, using the postDeepLink method, get the link and show or send the link to link to the user of your system
    5) Now, if the call to the getDeepLinkingId method returns a non-empty response (this means that the user has followed the link and connected to your bot), then you can send messages to the user via Telegram
    6) Use the postMessage method to send messages
    7) Check your balance if you cannot send messages to more than 100 users
  termsOfService: https://www.telenote.site/#/user-agreement/
  contact:
    email: contact@telenote.site
  license:
    name: 'Apache 2.0'
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
  version: 1.0.0

servers:
  - url: https://api.telenote.site

security:
  - api_key: []

paths:
  /message-api/v1/user-info/deep-link/:
    post:
      summary: Get url for deep-linking user on your system with user's Telegram account
      operationId: postDeepLink
      requestBody:
        description: Project and user info
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestDeepLink'
        required: true
      responses:
        '200':
          description: Already created (found by i_key)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDeepLink'
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseDeepLink'

  /message-api/v1/user-info/deep_linking_id/:
    get:
      summary: Get deep link id for project and user
      operationId: getDeepLinkingId
      parameters:
        - in: query
          name: sid
          schema:
            type: string
          required: true
          description: Project alias on telenote service
        - in: query
          name: uid
          schema:
            type: string
          required: true
          description: User ID on your system
      responses:
        '200':
          description: User Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/DeepLinkingId'

  /message-api/v1/messages/:
    post:
      summary: Add a new message
      operationId: postMessage
      requestBody:
        description: Message object that needs to be added
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Message'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageCreated'
        '400':
          description: Invalid input

  /message-api/v1/user-info/:
    get:
      summary: Get telenote account info
      operationId: getUserInfo
      responses:
        '200':
          description: User Info
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UserInfo'
components:
  schemas:
    Message:
      type: object
      properties:
        i_key:
          type: string
          description: Idempotency key (ID on your system for example)
          example: MSG42
          maxLength: 32
        payload:
          type: object
          properties:
            sid:
              type: string
              description: Project alias on telenote service
              example: myprj
            uid:
              type: string
              description: User ID on your system
              example: 12345
            text:
              type: string
              description: Message for user
              example: Hello my dear friend!
            time:
              type: string
              description: Unix timestamp
              example: 1609434000
          required:
            - sid
            - uid
            - text
            - time
      required:
        - i_key
        - payload

    MessageCreated:
      type: object
      properties:
        message_id:
          type: string
          format: uuid
          description: Message ID in UUID4 format
        status:
          type: string
          enum:
            - New
            - Ready
            - Queued
            - Transmitted
            - Received
            - Sent
            - Error
            - Delivery
            - Expired
            - Read

    UserInfo:
      type: object
      properties:
        balance:
          type: string
          description: Account balance
          example: 10.55

    RequestDeepLink:
      type: object
      properties:
        i_key:
          type: string
          description: Idempotency key (for example md5 from payload)
          maxLength: 32
        payload:
          type: object
          properties:
            project_alias:
              type: string
              description: Project alias on telenote service
              example: myprj
            current_user_id:
              type: string
              description: User ID on your system
              example: 12345

    ResponseDeepLink:
      type: object
      properties:
        deep_link:
          type: string
          description: Url for deep linking
          example: https://t.me/<your_bot>?start=<unique_generated_value>

    DeepLinkingId:
      type: object
      properties:
        link_id:
          type: string
          description: Id for link in telenote
          example: 12345

  securitySchemes:
    api_key:
      type: apiKey
      name: api_key
      in: header
